<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Titanic Data Explorer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="menu-container">
      <button class="hamburger">
        <i class="fas fa-bars"></i>
      </button>
      <nav class="dropdown-menu">
        <button
          class="menu-item"
          data-bg="{{ url_for('static', filename='assets/story1.mp4') }}"
          data-stat="survival"
        >
          Survival Statistics
        </button>
        <button
          class="menu-item"
          data-bg="{{ url_for('static', filename='assets/story2.mp4') }}"
          data-stat="embarkation"
        >
          Embarkation Ports
        </button>
        <button
          class="menu-item"
          data-bg="{{ url_for('static', filename='assets/story3.mp4') }}"
          data-stat="passenger"
        >
          Passenger Statistics
        </button>
        <a
          href="/titanic_table"
          class="menu-item"
          target="_blank"
          style="text-decoration: none"
        >
          View Passenger Data
        </a>
      </nav>
    </div>

    <div class="video-container">
      <video class="background-video active" autoplay muted loop playsinline>
        <source
          src="{{ url_for('static', filename='assets/story1.mp4') }}"
          type="video/mp4"
        />
      </video>
    </div>

    <div class="content-container active">
      <div class="content-wrapper">
        <h1 class="story-title" id="stats-title"></h1>
        <div class="story-content" id="stats-content">
          <div>
            <h2>Titanic dataset</h3>
            <p><strong>About the data</strong></p>
          </div>
          <p>Data Souce:  <a href="https://www.kaggle.com/competitions/titanic" target="_blank" style="color: skyblue;font-size: 18px;text-decoration: none;">Kaggle Click Here</a></p>
          <ul><strong>Dataset Description</strong>
            <li>PassengerId- Unique Identifier for the passengers</li>
            <li>Survival- Survival</li>
            <li>Pclass- Ticket class</li>
            <li>Name- Name of the passengers</li>
            <li>Sex- Sex</li>
            <li>Age- Age in years</li>
            <li>Sibsp- Number of siblings/ spouses abroad the titanic</li>
            <li>Parch- Number of parents/children abroad the titanic</li>
            <li>Ticket- Ticket Number</li>
            <li>Fare- Amount paid</li>
            <li>cabin- Cabin number</li>
            <li>Emarked- Port of Embarking (C- Cherbourg, Q= Queenstown, S- Southampthon)</li></ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
